.body {
	border: none;
	margin: 0;
}

.title {
	font-size: 40px;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
	padding-left: 5%;
	padding-right: 5%;
}

.title-font {
	font-family: 'Source Code Pro', monospace;
	font-weight: 500;
}

.link {
	color: #1769ed;
}

.section-title {
	padding-top: 5%;
}

.subtitle {
	font-size: 20px;
	color: black;
}

.logo {
	position: relative;
	display: block;
	margin: 0px auto;
	width: 40%;
	max-width: 200px;
}

.section1-icon {
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 30%;
	max-width: 300px;
	min-width: 200px;
	top: 25%;
}

.app-logo {
	width: 30%;
	min-width: 150px;
	max-width: 350px;
}

.title-container {
	padding-top: 10%;
	text-align: center;
}

.btn {
	height: 50px;
	width: 90px;
	border: none;
	font-family: 'Source Code Pro', monospace;
	font-size: 15px;	
	border-radius: 5px;
}

.btn:focus {
	outline:0;
}

.black-btn {
	background-color: black;
	color: white;
}

.white-btn {
	background-color: white;
	color: black;
	position: absolute;
	bottom: 5%;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	width: 150px;
	height: 40px;
}

.btn:hover {
	background-color: red;
}

.section {
	position: relative;
	height: 100vh;
	border: 0px;
}

.black-section {
	background-color: black;
}

.white {
	color: white;
}

.about-description-container {
	position: absolute;
	padding: 5%;
	text-align: center;
	bottom: 10%;
}

.description {
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}

.products {
	padding-top: 20px;
}

.product {
	cursor: pointer;
}

.product-img {
	display: block;
	width: 70%;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	max-width: 150px;
}

.custom-hr {
	width: 75%;
	border: 0.4px solid black;
}

.br {
	height: 20px;
}

.test {
	border: 1px solid black;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
}


/*Modals*/
/*________________________________________________*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}